<html>
  <head>
  </head>
  <body>
    <% for(var i=0;i<friends_row.length;i++){ %>
      <% var friend = friends_row[0].myfriend %>
      <div><%= friend.username +"   "+friend.email +"   "+friend.id %></div>
      <a href="<%= '/chat/' + friend.username %>">friend.username</a>  
    <% } %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>    <script src="/socket.io/socket.io.js"></script>
    <script src="/static/js/index.js"></script>
    <script src="http://localhost:3000/socket.io/socket.io.js"></script>
  </body>
</html>
